img{
    float: left;
    padding: 35px; 
}
p{
    color:whitesmoke;
}
h3{
    color: whitesmoke;
}
body{
  background-image: url("https://images.pexels.com/photos/458917/pexels-photo-458917.jpeg");
  background-repeat: no-repeat;
 background-size: cover;
     background-attachment: fixed;
}