ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;

  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #9932CC;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:white;
  }
em{
      color:#8B008B;
      font-family: 'Lucida sans';
      font-size: 40px;
  }