#car1 >p{
    padding-right: 10%;
    padding-left: 10%;
    font-weight: bold;
     text-align: center;
     color:lightskyblue;
}
h1{
 font-family: cursive;
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  color:lightseagreen;
}
